<ion-view style="" class=" " id="page1" title="READ Moodle Assistance">
    <ion-content class="has-header" padding="true">
        <div class="">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/Fx4P7gwTZGCAoOqJb9mL_Moodle_Cloud.png" height="auto" width="100%">
        </div>
        <h1 class=" " style="color: rgb(228, 151, 6); text-align: justify;" id="rEADMoodleAssistance-heading2">Enrolled Courses</h1>
        <ion-list class=" " id="rEADMoodleAssistance-list2">
            <ion-item style="" ui-sref="menu.recomenedChapters" id="rEADMoodleAssistance-list-item8" class="item-thumbnail-left  ">
                <img src="img/1qTd16eRIu9EPepdGtgc_book.jpg">
                <h2>Database Systems</h2>
                <p>CS 3022</p>
            </ion-item>
            <ion-item style="" ui-sref="menu.recomenedChapters" id="rEADMoodleAssistance-list-item5" class="item-thumbnail-left  ">
                <img src="img/X0i4fXmgS5K0pN1kPx44_book.jpg">
                <h2>Computer Security</h2>
                <p>CS 3052</p>
            </ion-item>
            <ion-item style="" ui-sref="menu.recomenedChapters" id="rEADMoodleAssistance-list-item6" class="item-thumbnail-left  ">
                <img src="img/I2uXQRghQpqnR08nj3iV_book.jpg">
                <h2>OS</h2>
                <p>CS 2052</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
