<ion-view style="" class=" " id="page1" title="READ Moodle Assistance">
    <ion-content class="has-header" padding="true" >
        <div class="">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/Fx4P7gwTZGCAoOqJb9mL_Moodle_Cloud.png" height="auto" width="100%">
        </div>
        <h1 class=" " style="color: rgb(228, 151, 6); text-align: justify;" id="rEADMoodleAssistance-heading2">Enrolled Courses</h1>
        <ion-list class=" " id="rEADMoodleAssistance-list2">


            <ion-item ng-repeat="person in people" ui-sref="menu.recomenedChapters({id:person.id})" id="rEADMoodleAssistance-list-item" class="item-thumbnail-left  ">
                <img src="img/1qTd16eRIu9EPepdGtgc_book.jpg">
                <h2>{{person.fullname}}</h2>
                <p>{{person.shortname}}</p>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
